<ActionBar title="{{movieTitle}}" class="actionBar">
    <NavigationButton icon="font://&#xf060;" class="fas h2" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout *ngIf="movie" class="page">
    <Label class="Label" text="Title"></Label>
    <TextField class="textField" [(ngModel)]="movie.title" ></TextField>
    <Label  text="Description" ></Label>
    <TextView class="textField" [(ngModel)]="movie.description"></TextView>
    <Button class="button" text="{{movie.id ? 'Update' : 'Create'}}" (tap)="saveForm()"></Button>
    <Button *ngIf="movie.id" text="Delete" class="deleteButton" (tap)="deleteMovie()"></Button>
</StackLayout>

